BD Pass Requirements: 


*) Create an Account System

    i) Registration Process 

        * - i) First register the user with Email/ Phone and Password
        * - i) Setup a Fingerprint based login system (opt)

        Then inside the Application

            - To verify your account usability 

                - Scan NID Card Image
                - Verify NID user with face verification just like BD NID APP
                - Verify with password
                - Add the documents to database

            - Optional Documents

                - Birth Certificate
                - Passport
                - Graduation Certificates / School / College / University

    
    ii) Login Process
        - Username can be "NID number" , "Mobile Number" or "Email Address"
        - Password 
        
       

*) Create a Stunning & user friendly UI

*) Create a smooth & fast loading website

*) Provide API for Authentication purpose on other Government websites / Apps
    - But API key & headers will be verified every time

*) Provide fast API for higher authority for official verification with less loading 
   time

*) The itself will be Dynamically updated if the NID changes

*) Feature to add passport data / passport number, but it will match NID number first
   before adding


*) Required pages

    - Login / Register Navigation
    - Login 
    - Register
    - Home page (Account Management)
    - Verify Account with NID 
        - Take pictures of NID card both sides
        - Verify your face identity
        - Finish up verifying 

    - Other documents

        - Birth Certificate
        - Passport
        - Academic Certificates
        - Licence
        - Permanent Chiarman Certificate
        - Other will be added if required
    
    - Manage Account
        
        - Change password
        - Change your picture 
            - Verify your identity with password
            - Changed successfully
        
    - Quick Share / Verify
        
        - QR Code 
        - Reference Number / ID 
    